{% include 'base.html'%}
<style>
    article{
        margin-top: 1px;
    }
    #container img{
        transition: all 0.6s;
    }
    #container img:hover{
  transform: scale(1.4);
}
</style>
<hr>
<article>
       <div id="container" class="w">
        <div class="item">
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
    </div>
</article>

<script src="/static/jquery-3.1.1.js"></script>
<script>

    $(function () {
        var obj = new ScrollImg();
        obj.fetchImg();
        obj.scrollEvent();

    });
    function ScrollImg() {
        this.NID = 0;
        this.LASTPOSITION = 3;
        this.fetchImg = function () {
            var that = this;
            $.ajax({
                url: '/get_img.html',
                type: 'GET',
                data: {nid: that.NID},
                dataType: 'JSON',
                success: function (arg) {
                    var img_list = arg.data;
                    $.each(img_list, function (index, v) {
                        var eqv = (index + that.LASTPOSITION + 1) % 4;
                        {#console.log(eqv);#}
                        var tag = document.createElement('img');
                        tag.src = '/' + v.img;
                        $('#container').children().eq(eqv).append(tag);
                        if (index + 1 == img_list.length) {
                            that.LASTPOSITION = eqv;
                            {#that.NID = v.id;#}
                    }
                })
            }
        })
    }


         this.scrollEvent = function () {
            var that = this;
            $(window).scroll(function () {
                var scrollTop = $(window).scrollTop();
                var winHeight = $(window).height();
                var docHeight = $(document).height();
                if (scrollTop + winHeight == docHeight) {
                    that.fetchImg();
        }
        })
        }


    }


</script>

